# Database
DATABASE_URL=postgresql://parkway_user:5JEJVL2GX12E9mAQRPPoqI62QM2NNVFR@dpg-d3a95kndiees73d311vg-a.virginia-postgres.render.com/parkway_db

# JWT
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=7d

# Server
PORT=3000
NODE_ENV=development

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=deguirpcb
CLOUDINARY_API_KEY=969444696786874
CLOUDINARY_API_SECRET=wJPxIpBFLs4Um_ewlV6eY75LZ7k

# Geocoding
OPENCAGE_API_KEY=6769cc75d3b74a2ba2c3948f83710337

# Frontend
FRONTEND_URL=http://localhost:5173
